@use "@picocss/pico/scss/pico" with (
  $theme-color: "fuchsia",
  // Define the root element used to target <header>, <main>, <footer>
  // with $enable-semantic-container and $enable-responsive-spacings
  $semantic-root-element: "#app",

  // Enable <header>, <main>, <footer> inside $semantic-root-element as containers
  $enable-semantic-container: true
    /* ,

  // Enable .classes
  $enable-classes: false */
);

//
// https://github.com/picocss/pico/discussions/482#discussioncomment-9043725
//

:root {
  --pico-form-element-spacing-vertical: 0.35rem;
  --pico-form-element-spacing-horizontal: 0.75rem;
  --pico-font-size: 1rem;
}
